@charset 'UTF-8';

ul {
    list-style: none;
}

li {
    padding-left: 0;
}


/*メニュー一覧*/
#score_navi {
    width: 35%;
    border-right: solid 2px #ddd;
    height: 400;
}

#main {
    display: flex;
}

/* 大原学園 */
footer {
    clear: both;
    text-align: center;
    margin: auto;
    background-color: #e8e8e8;
    width: 66%
}

/* ログイン */
#login_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* 適宜調整 */
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

#menu_h2 {
    background-color: #d3d3d3; /* 薄いグレー */
    padding: 5px; /* 適宜調整 */
    margin: 10px;
}

.menu-item .number {
    font-size: 20px;
    font-weight: bold;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* 色分けされたセクション */
.student-management {
    background-color: #ffcccc; /* ライトレッド */
}

.score-management {
    background-color: #ccffcc; /* ライトグリーン */
}

.subject-management {
    background-color: #ccccff; /* ライトパープル */
}

a
