@charset 'UTF-8';

ul {
    list-style: none;
}

li {
    padding-left: 0;
}


/*メニュー一覧*/
#score_navi {
    float:left;
	margin-right:10%;
	display: inline-block;
	position: relative;
	line-height:200%;
    margin-left: 9%;
    margin-right: 60px;
    height:100vh;
    padding-right: 10%;
    border-right: 2px solid #DDDDDD;
    text-align: left;
}
#score_navi ul{
	padding-left:0;


}
#score_navir li {
    list-style: none;

}

#main {
    display: flex;
}

/* 大原学園 */
footer {
    clear: both;
    text-align: center;
    margin: auto;
    background-color: #e8e8e8;
    width: 66%
}

/* ログイン */
#login_content {
    border: 1px solid #dddddd;
    padding: 20px;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-align: center;
}

#menu_h2 {
	width: 100%;
	margin-left: 26%;
	text-align: left;
	background-color: #dddddd;
}


/* 色分けされたセクション */
.student-management {
    width: 22%;
	height: 20%;
	margin: 10px;
	line-height: 7;
    text-align: center;
	background-color: f5b8d1;
	border-radius: 10px;
	position: absolute;
	top: 240px;
	left: 320px;}

.score-management {
    width: 22%;
	height: 20%;
	margin: 10px 0;
	line-height: 1.3;
	text-align: center;
	background-color: #95cba1;
	border-radius: 10px;
	position: absolute;
	top: 240px;
	left: 630px;
	line-height: 90%;
}

.subject-management {
    width: 22%;
	height: 20%;
	line-height: 7;
	margin: 10px;
	text-align: center;
	background-color: #b09dce;
	border-radius: 10px;
	position: absolute;
	top: 240px;
	left: 920px;
}




h2 {
    font-size: 24px;
    background-color: #bbbbbb; /* 背景色を設定 */

    padding: 10px 20px; /* タイトルの周りに余白を追加 */

}

form-row {
    display: flex;
    flex-direction: column;
}

.form-group col-md-3
